<%- layout('layouts/boilerPlate.ejs') %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card">
      <img src="<%= campground.image %>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= campground.location %></li>
        <li class="list-group-item"><%= campground.price %> $</li>
        <li class="list-group-item"><%= campground.image %></li>
      </ul>
      <div class="card-body">
        <form action="/campgrounds/delete/<%= campground.id %>" method="POST">
          <a
            href="/campgrounds/edit/<%= campground.id %>"
            class="btn btn-secondary card-link"
            >Update</a
          >
          <button href="#" class="btn btn-danger card-link">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
