<%- layout('layouts/boilerPlate.ejs') %>
<div class="p-2">
  <h1>Update Campground</h1>
</div>
<form
  class="mb-3 validated-form"
  action="/campgrounds/edit/<%= campground.id %>"
  method="POST"
  enctype="multipart/form-data"
  novalidate
>
  <div class="mb-3">
    <label class="form-label" for="title">Title :</label>
    <input
      class="form-control"
      name="campground[title]"
      type="text"
      value="<%= campground.title %>"
      required
    />
    <div class="invalid-feedback">Title is required</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="location">Location :</label>
    <input
      class="form-control"
      name="campground[location]"
      type="text"
      value="<%= campground.location %>"
      required
    />
  </div>
  <div class="invalid-feedback">Location is required</div>
  <div class="mb-3">
    <label class="form-label" for="description">Description :</label>
    <textarea
      class="form-control"
      name="campground[description]"
      type="text"
      required
    >
<%= campground.description %></textarea
    >
    <div class="invalid-feedback">Description is required</div>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price :</label>
    <div class="input-group">
      <span class="input-group-text">$</span>
      <input
        type="text"
        class="form-control"
        name="campground[price]"
        aria-label="Amount (to the nearest dollar)"
        value="<%= campground.price %>"
        required
      />
      <span class="input-group-text">.00</span>
      <div class="invalid-feedback">Price is required</div>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="image">Add Image & Images </label>
    <input class="form-control" type="file" name="image" multiple />
  </div>
  <div class="invalid-feedback">
    Image Url
    <div class="mb-3">
      <label class="form-label" for="image">Image </label>
      <input class="form-control" type="file" name="image" multiple />
    </div>
    is required
  </div>
  <button class="btn btn-secondary">Update</button>
</form>
<a href="/campgrounds">All Campgrounds</a>
